.aside {
	background-color: #fff;
	
	max-width: 300px;
	width: 100%;
	white-space: nowrap;
	transition: .5s;
	&__list {
		margin-right: 6px;
	}
	&__title {
		padding: 20px 0 0 35px;	
	}
	&__item {
		transition: .3s;
		&:hover {
			background-color: $primaryHover;
			a {
				border-left: 6px solid $primaryBlue;
			}
		}
		a {
			border-left: 6px solid transparent;
			display: block;
			padding: 20px 0 20px 35px;	
			transition: .3s;
			i {
				margin-right: 24px;
			}
		}
	}

	&__active {
		max-width: 100px;
		transition: .5s;
		a {
			color: transparent;
			i {
				color: $primaryColor;
			}
		}
	}
}