.header {

}
.main-header-container{
	padding: 0 40px;
}
.header-container {
	display: flex;
	min-height: 90px;
	.navbar-header{
		border-bottom: 1px solid #e5e8ee;
 		box-shadow: 5px 0 4px -3px #f1f1f1;
 		display: flex;
 		align-items:center;
		width: 26.1%;
		position: relative;
		 &.hamburger {
			border-style: none !important;
    	background-color: transparent;
    	margin: 0 19px;
		}
		.menutoggle {
			margin: 0 19px;
			&.active + .navbar {
				transform: translateX(0);
				opacity: 1;
				transition: all .6s ease-in-out;
			}
		}
	}
}
.header-menu {
	padding-left: 2.44%;
	display: flex;
  width: 100%;
	}
	.search-block {
		margin: 16px 0 ;
		display: flex;
    align-items: center;
	}
	.search-form {
		position: relative;
		margin-left: 30px;
	}
		.input-icon-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    left:-30px;
    color: #9aa0ac;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    pointer-events: none;
  }
.header-search {
	border: none;
	margin-left: 14px;

}
// header menu accout user block
.account-block-wrapper {
	  display: flex;
    width: 100%;
    justify-content: flex-end;
    .account-block{
    align-items: center;
    display: flex;
    }
    .notify-block-wrapper {
    	display: flex;
    }
}
.notify-block {
	display: flex;
	padding: 0 20px;
	justify-content:space-around ;
	border-left: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee;
}
.dropdown-item {
	position: relative;
}
.nav-link {
  transition: .3s color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
	transition: .3s;
	&:hover {
		-webkit-box-shadow: 0 0 15px 2px rgba(0,0,0, .4);
		-moz-box-shadow: 0 0 15px 2px rgba(0,0,0, .4);
		box-shadow: 0 0 15px 2px rgba(0,0,0, .4);
		transition: .3s;
	}
  &__counter {
	  width: 18px;
	  height: 18px;
	  color: #ffffff;
	  font-size: 13px;
	  line-height: 18px;
	  position: absolute;
	  top: 0;
	  right: 0;
	  border-radius: 50%;
	  &--mail {
		  background: #0099ff;
	  }
	  &--ring {
		  background: #ff6666;
	  }
  }
}
.icon {
	margin: 5px 20px;
	background: #f7f7f7;
	border-radius: 50%;
	text-align: center;
	width: 25px;
	height: 40px;
	text-decoration: none;
	i {
		display: inline-block;
	}
    }
.user-account-wrap {
	display: flex;
	width: 100%;
	.user-account-block {
		padding: 0 40px;
		.account-circle{
			width: 46px;
			height: 46px;
			border: 1px solid #b0cff6;
			border-radius: 50%;
			background-color: #f1f1f1;
		}
	}
}
.navbar {
	position: absolute;
	right: 0;
	top: 100%;
	width: 100%;
	transform: translateX(-150%);
	transition: all .6s ease-in-out;
	opacity: 0;
}
.menu {
	display: flex;
	flex-direction: column;
	box-shadow: 5px 0 4px -3px #f1f1f1;
	margin: 0;
	padding: 0;
	&__item {
		margin: 17px 0;
	}
	&__item-text {
		font-size: 16px;
		color: #666;
		margin-left: 8.3%;
	}
	&__item-icon {
		display: inline-block;
	}
}