/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -30px;
  width: 15px;
  height: 15px;
}
.icon-analitics-icon {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 14px;
}
.icon-envelope-icon {
  background-image: url(../img/sprite.png);
  background-position: -31px -30px;
  width: 16px;
  height: 13px;
}
.icon-inbox-icon {
  background-image: url(../img/sprite.png);
  background-position: -33px -16px;
  width: 15px;
  height: 13px;
}
.icon-marketplace-icon {
  background-image: url(../img/sprite.png);
  background-position: -15px -30px;
  width: 16px;
  height: 14px;
}
.icon-profile-icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -14px;
  width: 15px;
  height: 16px;
}
.icon-projects-icon {
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
  width: 15px;
  height: 16px;
}
.icon-support-icon {
  background-image: url(../img/sprite.png);
  background-position: -33px 0px;
  width: 15px;
  height: 16px;
}
